body {
    background-color: #1A202C;
    color: white;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #2D3748;
    border-radius: 5px;
    margin: 5px 5px 10px;
    padding: 10px;
}

.pump {
    color: green;
}

.dump {
    color: red;
}

table {
    text-align: center;
    width: 100%;
    
}

td, th {
    border: 1px solid white;
    padding: 15px;
} 

img {
    border-radius: 50%;
} 

td div {
    display: flex;
    justify-content: space-evenly;
}

td a {
    text-decoration: none;
    color: white;
}